
.container {
  max-width: 1200px;
  margin: 0 auto;
  /*это к body логичнее выглядит */
  font-size: 18px;
  /*шрифты принято на body и заголовки подключать, далее через каскад они уже назначатся*/
  font-family: 'Gilroy-Medium';
}


.title {
  color: #070707;
  font-family: 'Gilroy-Bold';
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}
.cards{
  display: flex;
  justify-content: center;
  column-gap: 90px;
  row-gap: 90px;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 166px;
  text-align: center;
}
/*вроде много где БЭМ, здесь решил отойти не понимаю почему*/
.card-img {
  height: 120px;
}
.card-title {

  margin: 10px 0 5px;
}

.card__stars {
  padding: 10px 0;
}
.stars {
  /**
   отступы margin надо задавать для элементов, для блоков не делают
   */
  margin: auto auto 0;
  display: flex;
  justify-content: space-between;
  column-gap: 9px;
  list-style-type: none;
}
.star {
  width: 26px;
  height: 26px;
}

.header {
  width: 100%;
  padding: 10px 0;
  border: 1px solid #828282;
  background-color: #fff;

}
.header__nav-items {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

/*не, это совсем плохо, я бы даже сказал относительно того что я в целом вижу*/
/*мне странно видеть у тебя такие селекторы
1) нет смысла для пространства имён .header__nav-item, лучше сразу .navmenu
2) для ссылок норм указать свой класс .navmenu__link и не делать через звёздочку*/
.header__nav-item > * {
  /*есть дублирование цветов, можно вынести через css variables*/
  color: #828282;
  text-decoration: none;
  font-family: 'Gilroy-Bold';
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

/*идентично как выше будет .navmenu__link:hover*/
.header__nav-item > *:hover {
  color: #070707;
}

.home {
  padding: 0 0 30px;
}
.home__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  column-gap: 100px;
}
.home__name {
  font-family: 'Gilroy-Bold';
  /*зачем такие магические цифры?*/
  font-size: 47.3392px;
  /*лишнее, раз уже bold шрифт подключил*/
  font-weight: bold;
}

/*можно сделать лучше, всю геометрию задать через родительский блок сразу, не надо этих дополнительных вычислений,*/
/*причем если геометрия сложная, то гриды будет попроще флексов имхо*/
.home__position {
  max-width: 400px;
  width: 100%;
  margin: 0 40px 0 0;
}
.home__img-wrapper {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

/*это полноценный блок, а не элемент, для элемента обычно задают только расположение в родителе*/
.home__img {
  border-radius: 15px;
  box-shadow:  0 0 10px #000;
  width: 100%;
}

.about {
  background: #F6F6F6;
  padding: 100px 0;
}

.about__text-wrapper {
  max-width: 700px;
  width: 100%;
  margin: 17px auto 0;
  text-align: center;
}
.about__text {
  margin: 0 0 15px;
}
.skills {
  text-align: center;
}
.skills__title {
  padding: 91px 0 50px;
}

.skills__list {
  margin: 30px;
 
}
.languages {
  background: #F6F6F6;
  text-align: center;
  padding: 91px 0 35px;
}
.languages__title {
  margin: 0 0 50px;
}
/*я вижу довольно много случайных рандомных отступов, это скорее задача дизайнерская всё нормализовать,*/
/*однако ты таким образом делаешь много лишней работы. Например можно изначально решить что у контейнеров*/
/*есть внутренний отступ, а у элементов внутри контейнера есть отступы между собой фиксированные и не делать*/
/*эту работу более никогда, изредка переопределяя стандартную геометрию,*/
/*например здесь я вижу коллапс маржинов, не является ошибкой, но является лишней работой по непродуманной изначально геометрии.*/
/*Кстати такой фидбек обычно может уже миддлу только прилететь, для курсов уж точно по вёрстке всё ок, это я придираюсь к мелочам,*/
/*потому что вёрстка в целом хорошая*/
.languages__list {
  margin: 30px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px;
}
.contacts__item{
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.contacts__svg {
  width:20px;
}
.contacts__text{
  color: #828282;
  text-decoration: none;
}

/*в идеале делать mobile-first подход, по этой же причине я вижу горизонтальный скролл на меньших экранах*/
/*а на большом экране он из-за header(box-sizing пропустил)*/
@media (max-width: 1200px) {
  .container{
    max-width: 950px;
  } 
}
@media (max-width: 992px){
  .container{
    max-width: 750px;
  }
}